<p id="notice"><%= notice %></p>
<p><%= @result %></p>
<h1>Search Words</h1>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Issearched?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_words.each do |search_word| %>
      <tr>
        <td><%= search_word.word %></td>
        <td><%= search_word.isSearched? %></td>
        <td><%= link_to 'Show', search_word %></td>
        <td><%= link_to 'Edit', edit_search_word_path(search_word) %></td>
        <td><%= link_to 'Destroy', search_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search Word', new_search_word_path %>
